.footGuideContainer{
    position: fixed;
    left:0;
    bottom: 0;
    right:0;
    z-index: 9999;
    /*display: flex;*/
    padding-top: 0.012rem;
    box-shadow:0 -0.02667rem rgba(0,0,0,.1);
    background: #fff;
    border-top: 1px solid #F5F5F5;
}
.footGuideRow{
    padding: .5rem 0 .3rem;
}
.cLink{
    color: #666666;
}
