.textAlign-right{
    text-align: right;
}
.textAlign-left{
    text-align: left;
}
.avatar-container{
    padding: .8rem 1rem;
    background:linear-gradient(90deg,#f5d293,#ef9c08);
}
.p-avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
}
.p-avatar-svg{
    width: 4rem;
    height: 4rem;
}
.main-body{
    background: #F5F5F5;
    height: 32rem;
}
.yh-container{
    padding-top: .6rem;
    background: #fff;
    margin-bottom: .6rem;
}
.yh-svg{
    height: 1.69rem;
    width: 1.69rem;
}
.profile-svg{
    height: 1.69rem;
    width: 1.69rem;
}
.add-container{
    background: #fff;
    margin: .7rem 0;
}
.gold-container{
    background: #fff;
    margin-bottom: .7rem;
}
.container-row{
    padding: .7rem .5rem .7rem .7rem;
}
.borderBTM{
    border-bottom: 1px solid #F5F5F5;
}
.ChevronRight{
    color: #bbb;
}
.svg-container{
    margin-right: .2rem;
}
.actName{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    color: #333;
}

.download-container{
    background: #fff;
   /* margin-bottom: 4rem;*/
}