.shopList-title:before ，.shopList-title:after{
    display: block;
    content:"";
    width: 0.533rem;
    height: 0.026rem;
    background: #999;
}
.shopList-title:before{
    margin-right: 0.34677rem;
}
.shopList-title:after{
    margin-left:  0.34677rem;
}
.shopList-title{

}
.brand{
    background: #fff100;
    color:#6F3F15
}
.delivery-mode{
    background: #F2BD5E;
    color: #fff;
}
.border-right{
    border-right: 1px solid #E4E4E4;
}
*{
    font-size: 12px;
}