.line{
    display: inline-block;
    border: 1px solid #333;
    width: .9rem;
    height: 0;
    position: relative;
    margin: .213333rem .093333rem .173333rem;
}
.line.left:after{
    right: -0.366667rem;
}
.line:after{
    position: absolute;
    top: -0.19rem;
    content: "";
    background: #333;
    height: 0.333rem;
    width: 0.3333rem;
    border-radius: 50%;
}
.line.right:after{
    left: -0.366667rem;
}
.activity-title{
    margin: 0 .3rem;
}
.activity-img{
    width: 6.71875rem;
    height: 6.875rem;
    /*width: 100%;*/
    /*height: 100%;*/
}
.activity-li{
    margin-bottom: .8rem;
}
.activity-content{
    padding: 1rem .34375rem 0.5rem .34375rem;
}
.discount{
    position: absolute;
    top: 0;
    left: 0.3rem;
    font-size: .29rem;
    color: #fff;
    background: #413d3c;
}
.icon{
    width: 2.6rem;
    height: 2.6rem;
    vertical-align: center;
}
.entry-items{
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 1rem;
    padding-right: .4rem;
}